page-page4 {
 .search p{
     text-align: center;
     font-size: 1.7rem;
 }
 img{
     height: 120px !important;
 }
 .loader{
     width: 100%;
     text-align: center;
 }
 ion-slides{
     margin-top: 10px !important;
 }
}
