<!--
  Generated template for the MapPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>map</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <div class="map" >
    <div *ngIf="checked==false">
    <div style="width:100%;text-align: center">
        <div style="width: 33%;float: left"><ion-searchbar style="width:100%;z-index: 6;" [(ngModel)]="city" placeholder="City"></ion-searchbar></div>
        <div style="width: 33%;float: left"> <ion-searchbar style="width:100%;z-index: 6;"  [(ngModel)]="state" placeholder="State"></ion-searchbar></div>
        <ion-searchbar  style="width: 33%;float: left" [(ngModel)]="country" disabled placeholder="Country"></ion-searchbar>    
      </div>          
      <ion-searchbar (ionChange)="UpdateAddress()" [(ngModel)]="address" placeholder="Address"></ion-searchbar>
    </div> 
      <ion-item *ngIf="isAddress==true">
          <ion-label >Do not have an address</ion-label>
          <ion-checkbox color="dark" (ionChange)="datachanged($event)" checked="false"></ion-checkbox>
        </ion-item>
        <div  id="div_address" style="padding-bottom: 5px;padding-left: 15px;padding-right: 15px">
            <p style="margin-left:10px">City you operate in</p> 
            <input  id="from"  [(ngModel)]="address2" style="width:100% !important" type="text" placeholder="From">
           </div>  
      <p style="width:100%;text-align: center"  (click)="LocateOnMap()" *ngIf="address.length>0" >
        <u *ngIf="checked==false">Locate on Map</u>&nbsp;&nbsp;
        <u (click)="NextPage(1)">Go Ahead</u> &nbsp;&nbsp;
        <u *ngIf="prt==1" (click)="NextPage(0)">Skip</u>
      </p>
    
      <!-- <p  style="display:none !important"  *ngIf="lat!=null" style="width:100%;text-align: center">We got you   <ion-icon color="primary" name="happy"></ion-icon></p> -->
      
    
     
  </div>
    <div #map id="map"></div> 
    <div class="info-window">
     <!-- Address: {{address}} 
     Latitude: {{lat}}
    Longitude:{{lng}}
    Plus Code{{}} -->
 
    <ion-list>
      <ion-item>
      <!-- <h2>Address:{{address}}</h2>  -->
      <h2>Plus Code:{{plusCode}}</h2>
      <!-- <h2>Latitude:{{lat}}</h2>     
      <h2>Latitude:{{lng}}</h2>    -->
      </ion-item>
     
    </ion-list>
    </div>
</ion-content>