page-password {
    .center{
        text-align: center;
    }
    input[type=text],input[type=password]{
        border: 1px solid #ccc;
        border-radius: 5px;
        padding:10px;
    }
    button{
        background-color:color($colors,primary);
        padding: 15px;
        color: #fff;
        width: 95%;
        margin-top: 20px;
    }
}
