page-password {
    .center{
        text-align: center;
    }
    input[type=text],input[type=password]{
        border: 1px solid #ccc;
        border-radius: 5px;
        padding:10px;
    }
    button{
        background-color:color($colors,primary);
        padding: 15px;
        color: #fff;
        width: 95%;
        margin-top: 20px;
    }
    h6{
        font-size: 1.2rem;
        color: rgb(104, 102, 102);
    }
    .slideTop{
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
       top:30% !important;
      }
    .slideBottom{
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
       top: 50% !important;
    }  
}
