page-contact-info {
    .center{
        text-align: center;
    }
    input[type=text],input[type=email]{
        // border: 1px solid #ccc;
        // border-radius: 5px;
        // padding:10px;
        margin:0 !important;
    }
    ion-input{
        border: 1px solid #ccc;
        border-radius: 5px !important;
        padding:10px !important;
    }
    .social{
      //  margin-top: 40px;
    }
    .social button{
        padding: 10px;
        border-radius: 5px;
        min-width: 100%;
        color: color($colors,light);
        margin-top: 10px;
    }
    .btn-google{
        background-color: color($colors,primary);

    }
    .btn-facebook{
        background-color:#3b5998
    }
    .border{
        border: 1px solid red;
    }
}
