<!--
  Generated template for the Page2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-toolbar   no-border>
    
    <ion-navbar  >
      
    </ion-navbar>
</ion-toolbar>

<ion-content padding>
  
   <div class="search" [ngClass]="slideUp()" > 
      <h4>I have given it name</h4>
     <ion-searchbar  
    id="searchBar"
   [(ngModel)]="name"
   [showCancelButton]='false'
   placeholder="Enter name here"
   (ionFocus)="checkFocus()"
   >
 </ion-searchbar>
</div>
<div class="divcontent" *ngIf="isVisible">
    <div id="logo"    class="logo animated">
           
        <img  [src]="logo" class="animated" imageViewer="original_url" [ngClass]="Animations(1)" > 
    </div> 
     <p (click)="addPic()" style="margin-top:10px!important">{{text}}</p>
     <p class="animated large"   id="wonderful" [ngClass]="Animations(2)" >{{name}}</p>
     <p class="animated cool"  *ngIf="name.length>0" >Cool Haan!</p>
    <p class="animated bntGoAhead"  *ngIf="name.length>0" [ngClass]="Animations(3)" (click)="NextPage()" ><u>Go Ahead</u></p>
</div> 
<input type="file" (change)="fileUpload($event)" accept="image/*" style="display: none"  id="file-input" #fileInp>
</ion-content>
